DISCORD_TOKEN=put_your_bot_token_here
CLIENT_ID=put_your_bot_application_id_here
PANEL_PASSWORD=put_a_strong_password_here
OWNER_PASSWORD=put_owner_password_here
ADMIN_PASSWORD=put_admin_password_here
PORT=3000
BOT_API_URL=http://93.115.101.176:13119
WISPBYTE_BOT_API_URL=http://93.115.101.176:13119
